@font-face {
  font-family: 'futura';
  src: url(/assets/fonts/futura/futura-light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'futura';
  src: url(/assets/fonts/futura/futura-medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'futura';
  src: url(/assets/fonts/futura/futura-Heavy.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'notoSans';
  src: url(/assets/fonts/notoSans/notoSans-medium.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'notoSans';
  src: url(/assets/fonts/notoSans/notoSans-Heavy.otf);
  font-weight: 700;
}